In [1]:
import json
import re
import os
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
files= os.listdir('data/json_files')

In [3]:
li=[]
for sample in files:
    with open(f'data/json_files/{sample}','r') as file:
        json_obj= json.load(file)
        Nill= {li.append(d) for d in json_obj['dataset']}

In [4]:
df= pd.DataFrame(li)

In [5]:
df.columns

Index(['pfCode', 'yr', 'period', 'periodDesc', 'aggrLevel', 'IsLeaf', 'rgCode',
       'rgDesc', 'rtCode', 'rtTitle', 'rt3ISO', 'ptCode', 'ptTitle', 'pt3ISO',
       'ptCode2', 'ptTitle2', 'pt3ISO2', 'cstCode', 'cstDesc', 'motCode',
       'motDesc', 'cmdCode', 'cmdDescE', 'qtCode', 'qtDesc', 'qtAltCode',
       'qtAltDesc', 'TradeQuantity', 'AltQuantity', 'NetWeight', 'GrossWeight',
       'TradeValue', 'CIFValue', 'FOBValue', 'estCode'],
      dtype='object')

In [6]:
for col in df.columns:
    print(col,':',df[col].unique())

pfCode : ['H5']
yr : [2019 2020 2021]
period : [201901 201902 201903 201904 201905 201906 201907 201908 201909 201910
 201911 201912 202001 202002 202003 202004 202005 202006 202007 202008
 202009 202010 202011 202012 202101]
periodDesc : ['201901' '201902' '201903' '201904' '201905' '201906' '201907' '201908'
 '201909' '201910' '201911' '201912' '202001' '202002' '202003' '202004'
 '202005' '202006' '202007' '202008' '202009' '202010' '202011' '202012'
 '202101']
aggrLevel : [5]
IsLeaf : [0]
rgCode : [0]
rgDesc : ['M' 'X']
rtCode : [699]
rtTitle : ['India']
rt3ISO : ['IND']
ptCode : [104 124 144 156 170 251 276 300 344 360 364 368  36 376 380 392  40 446
 458 462   4  50 524 554 586 634 643  64 682 702 704 706 710 724 760  76
 784 818 826 842 862]
ptTitle : ['Myanmar' 'Canada' 'Sri Lanka' 'China' 'Colombia' 'France' 'Germany'
 'Greece' 'China, Hong Kong SAR' 'Indonesia' 'Iran' 'Iraq' 'Australia'
 'Israel' 'Italy' 'Japan' 'Austria' 'China, Macao SAR' 'Malaysia'
 'Maldives' 'Afghanistan' 'Bangladesh' 'Nepal' 'New Zealand' 'Pakistan'
 'Qatar' 'Russian Federation' 'Bhutan' 'Saudi Arabia' 'Singapore'
 'Viet Nam' 'Somalia' 'South Africa' 'Spain' 'Syria' 'Brazil'
 'United Arab Emirates' 'Egypt' 'United Kingdom' 'USA' 'Venezuela']
pt3ISO : ['MMR' 'CAN' 'LKA' 'CHN' 'COL' 'FRA' 'DEU' 'GRC' 'HKG' 'IDN' 'IRN' 'IRQ'
 'AUS' 'ISR' 'ITA' 'JPN' 'AUT' 'MAC' 'MYS' 'MDV' 'AFG' 'BGD' 'NPL' 'NZL'
 'PAK' 'QAT' 'RUS' 'BTN' 'SAU' 'SGP' 'VNM' 'SOM' 'ZAF' 'ESP' 'SYR' 'BRA'
 'ARE' 'EGY' 'GBR' 'USA' 'VEN']
ptCode2 : [0]
ptTitle2 : ['World']
pt3ISO2 : ['W00']
cstCode : ['C00']
cstDesc : ['All CPCs']
motCode : ['0']
motDesc : ['All MOTs']
cmdCode : ['TOTAL']
cmdDescE : ['All Commodities']
qtCode : [-1]
qtDesc : ['N/A']
qtAltCode : [-1]
qtAltDesc : ['N/A']
TradeQuantity : [0]
AltQuantity : [0.]
NetWeight : [nan  0.]
GrossWeight : [nan  0.]
TradeValue : [47039674 99121436 18979044 ...  5425111  6190582  9350647]
CIFValue : [4.70396740e+07            nan 1.89790445e+07 ... 1.62596431e+08
 5.42511142e+06 9.35064716e+06]
FOBValue : [         nan 99121436.03  67096024.257 ...  6953451.28  13118469.48
  6190582.717]
estCode : [0 4]

In [7]:
column=['period','rgDesc','ptTitle','TradeValue','CIFValue','FOBValue']

In [8]:
data= df[column].copy()

In [9]:
#building the logic
year= data['period'][0]//100
month= str(data['period'][0]/100)[-2:]

In [10]:
#applying the logic
data['year']=[ str(d//100) for d in data ['period']]
data['month']=[str((m/100))[-2:] for m in data['period']]

In [11]:
#checking if months are correct or not
data['month'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '.1', '11',
       '12'], dtype=object)

In [12]:
#found error and solved it
data['month']= data['month'].apply(lambda x: 10 if x=='.1' else x)

In [13]:
#correct
data['year'].unique()

array(['2019', '2020', '2021'], dtype=object)

In [14]:
# make a list of preprocessed columns whom i want to drop
drop_cols=[]
drop_cols.append('period')
print(drop_cols)

['period']

In [15]:
#moving to next columns
#rgDesc: M stands for import and X stands for Export
data['type of export']= data['rgDesc'].map(lambda x: 'Import' if x=='M' else 'Export')

In [16]:
drop_cols.append('rgDesc')
print(drop_cols)

['period', 'rgDesc']

In [17]:
#for ptTitle we just have to change the name of the columns
data

,period,rgDesc,ptTitle,TradeValue,CIFValue,FOBValue,year,month,type of export
0,201901,M,Myanmar,47039674,4.703967e+07,NaN,2019,01,Import
1,201901,X,Myanmar,99121436,NaN,9.912144e+07,2019,01,Export
2,201902,M,Myanmar,18979044,1.897904e+07,NaN,2019,02,Import
3,201902,X,Myanmar,67096024,NaN,6.709602e+07,2019,02,Export
4,201903,M,Myanmar,64397415,6.439742e+07,NaN,2019,03,Import
...,...,...,...,...,...,...,...,...,...
2018,202011,M,Venezuela,162596431,1.625964e+08,0.000000e+00,2020,11,Import
2019,202012,X,Venezuela,13118469,0.000000e+00,1.311847e+07,2020,12,Export
2020,202012,M,Venezuela,5425111,5.425111e+06,0.000000e+00,2020,12,Import
2021,202101,X,Venezuela,6190582,0.000000e+00,6.190583e+06,2021,01,Export
2022,202101,M,Venezuela,9350647,9.350647e+06,0.000000e+00,2021,01,Import

In [18]:
#lets check trade value
display(data['TradeValue'].describe())
#let's normalise and simplyfy the aata

count    2.023000e+03
mean     5.530701e+08
std      9.047355e+08
min      1.316000e+03
25%      5.444350e+07
50%      2.650761e+08
75%      6.434054e+08
max      6.683258e+09
Name: TradeValue, dtype: float64

In [19]:
round(data['TradeValue'],1)

0        47039674
1        99121436
2        18979044
3        67096024
4        64397415
          ...
2018    162596431
2019     13118469
2020      5425111
2021      6190582
2022      9350647
Name: TradeValue, Length: 2023, dtype: int64

In [20]:
#Under CIF terms of delivery in export business, Cost Insurance and Freight included in the selling cost of goods.
#we can drop this column too because the cost of delivery on exprt will get accounted but not for our problem statement
drop_cols.append('CIFValue')

In [21]:
#same with FOBValue too, delivery charges for the import not necessary
drop_cols.append('FOBValue')

In [22]:
clean_data=data.drop(drop_cols,axis=1)

In [23]:
clean_data.columns=['Country','TradeValue','Year','Month','TransactionType']

In [24]:
clean_data

        Country  TradeValue  Year Month TransactionType
0       Myanmar    47039674  2019    01          Import
1       Myanmar    99121436  2019    01          Export
2       Myanmar    18979044  2019    02          Import
3       Myanmar    67096024  2019    02          Export
4       Myanmar    64397415  2019    03          Import
...         ...         ...   ...   ...             ...
2018  Venezuela   162596431  2020    11          Import
2019  Venezuela    13118469  2020    12          Export
2020  Venezuela     5425111  2020    12          Import
2021  Venezuela     6190582  2021    01          Export
2022  Venezuela     9350647  2021    01          Import

[2023 rows x 5 columns]

In [25]:
clean_data.to_csv('data/preprocessed_data.csv')